/* Estilo geral */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.5;
}

/* Navbar */
.navbar {
    background-color: #24345f;
    padding: 15px 0;
}
.container-fluid{
    background-color: #24345f;
    
}
.navbar-brand {
    font-weight: 700;
    color: #ea87f3 !important;
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #ea87f3 !important;
}


h2{
    
    margin:20px
}
#dicasSecao {
    margin: 500px; /* Margem superior/inferior e centralização horizontal */
   
}   

.dicas-tabelas {
    margin: 20px;
}

.dicas-tabelas h3 {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #333;
}

.dicas-tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.dicas-tabela thead {
    background-color: #974f9e;
    color: white;
    text-align: left;
}
/*Bordas da tabela*/
.dicas-tabela th,
.dicas-tabela td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
/*Cor das linhas 1 e 3 na tanela*/
.dicas-tabela tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
/*Cor da linha 2 na tanela*/
.dicas-tabela tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*Cor ao passar o mouser na tanela*/
.dicas-tabela tbody tr:hover {
    background-color: #f1f1f1;
}/* Estilo para o contêiner dos links */

/* Rodapé */
footer {
    background-color: #24345f;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

footer p {
    margin: 0;
}
/*Tema Azul Claro */
body[data-theme="azulclaro"] {
    background-color: #ffffff; 
    color: #0a3d62;            
  }
  body[data-theme="azulclaro"] .navbar {
    background-color: #0a3d62;
  }
  body[data-theme="azulclaro"] .container-fluid {
    background-color: #0a3d62;
  }
  body[data-theme="azulclaro"] footer {
    background-color: #0a3d62;
  }
  body[data-theme="azulclaro"] .navbar-brand {
    color: #3c91e6 !important;
  }
  body[data-theme="azulclaro"] .dicas-tabela thead {
    background-color: #0a3d62; 
    color: white;
}
body[data-theme="azulclaro"] .dicas-tabela tbody tr:nth-child(odd) {
    background-color: #82cbff;
}

body[data-theme="azulclaro"] .dicas-tabela tbody tr:nth-child(even) {
    background-color: #82cbffd7;
}

body[data-theme="azulclaro"] .dicas-tabela tbody tr:hover {
    background-color: #a1cff0;
}
  /* Tema Rosa */
  body[data-theme="rosa"] {
    background-color: #ffffff;
    color: #c2185b;  /* Texto: rosa acinzentado */
  }
  body[data-theme="rosa"] .container-fluid {
    background-color: #c2185b;
  }
  body[data-theme="rosa"] .navbar{
    background-color: #c2185b;
  }
  body[data-theme="rosa"] footer {
    background-color: #c2185b;
  }
  body[data-theme="rosa"] .dicas-tabela thead {
    background-color: #c2185b; 
    color: white;
}
body[data-theme="rosa"] .dicas-tabela tbody tr:nth-child(odd) {
    background-color: #ff9ec5d3;
}

body[data-theme="rosa"] .dicas-tabela tbody tr:nth-child(even) {
    background-color: #ff9ec5d3;
}

body[data-theme="rosa"] .dicas-tabela tbody tr:hover {
    background-color: #ff9ec5;
}

  /*Tema Amarelo*/
  body[data-theme="amarelo"] {
    background-color: #ffffff;
    color: #f9a825;
  }
  body[data-theme="amarelo"] .container-fluid {
    background-color: #f9a825;
  }
  body[data-theme="amarelo"] .navbar{
    background-color: #f9a825;
  }
  body[data-theme="amarelo"] footer {
    background-color: #f9a825;
  }
  body[data-theme="amarelo"] .navbar-brand {
    color: #e9e5d3 !important;
  }
  body[data-theme="amarelo"] .dicas-tabela thead {
    background-color: #f9a825; 
    color: white;
}
body[data-theme="amerelo"] .dicas-tabela tbody tr:nth-child(odd) {
    background-color: #fddaa0;
}

body[data-theme="amarelo"] .dicas-tabela tbody tr:nth-child(even) {
    background-color: #fcffd6;
}

body[data-theme="amarelo"] .dicas-tabela tbody tr:hover {
    background-color: rgb(236, 209, 187);
}
  /*Tema Laranja*/
  body[data-theme="laranja"] {
    background-color: #ffffff;
    color: #ef6c00;  /* Texto: laranja queimado */
  }
  body[data-theme="laranja"] .navbar{
    background-color: #ef6c00;
    }
    body[data-theme="laranja"] footer{
    background-color: #ef6c00;
    }
    body[data-theme="laranja"] .container-fluid{
    background-color: #ef6c00;
    }
  body[data-theme="laranja"] .navbar-brand {
    color: #ffc400 !important;

  }
    body[data-theme="laranja"] .dicas-tabela thead {
      background-color: #ef6c00; 
      color: white;
  }
  body[data-theme="laranja"] .dicas-tabela tbody tr:nth-child(odd) {
      background-color: #ffab67;
  }
  
  body[data-theme="laranja"] .dicas-tabela tbody tr:nth-child(even) {
      background-color: #f8ba87;
  }
  
  body[data-theme="laranja"] .dicas-tabela tbody tr:hover {
      background-color: #ffd7b6;
  }
  

  /*Tema verde*/
  body[data-theme="verde"] {
    background-color: #ffffff;
    color: #2e7d32;  /* Texto: verde escuro */
  }
  body[data-theme="verde"] .navbar{
    background-color: #2e7d32;
  }
  body[data-theme="verde"] .container-fluid{
    background-color: #2e7d32;
  }
  body[data-theme="verde"] footer{
    background-color: #2e7d32;
  }
  body[data-theme="verde"] .navbar-brand {
    color: #3ce658 !important;
  }
  body[data-theme="verde"] .dicas-tabela thead {
    background-color: #2e7d32; 
    color: white;
}

body[data-theme="verde"] .dicas-tabela tbody tr:nth-child(odd) {
    background-color: #96da99;
}

body[data-theme="verde"] .dicas-tabela tbody tr:nth-child(even) {
    background-color: #87d88b;
}

body[data-theme="verde"] .dicas-tabela tbody tr:hover {
    background-color: #a5e4a8;
}

/*Tema escuro*/
  body[data-theme="dark"] {
    background-color: #8b8888;
    color: #ffffff;
  }
  body[data-theme="dark"] .navbar{
    background-color: #333333;
  }
  body[data-theme="dark"] .container-fluid{
    background-color: #333333;
  }
  body[data-theme="dark"] footer{
    background-color: #333333;
  }
  body[data-theme="dark"] .navbar-brand {
    color: #ffffff !important;
  }
  body[data-theme="dark"] .dicas-tabela thead {
    background-color: #333333; 
    color: white;
}

body[data-theme="dark"] .dicas-tabela tbody tr:nth-child(odd) {
    background-color: #6d6d6d;
}

body[data-theme="dark"] .dicas-tabela tbody tr:nth-child(even) {
    background-color: #686868;
}

body[data-theme="dark"] .dicas-tabela tbody tr:hover {
    background-color: #464646;
}

/*Tema padrão*/
body[data-theme="padrao"] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme="padrao"] .navbar{
  background-color: #24345f;
}
body[data-theme="padrao"] .container-fluid{
  background-color: #24345f;
}
body[data-theme="padrao"] footer{
  background-color: #24345f;
}



  
